<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="org.medipi.concentrator.medication/doseUnit.hbm.xml"/>
        <mapping resource="org.medipi.concentrator.medication/medication.hbm.xml"/>
        <mapping resource="org.medipi.concentrator.medication/scheduledDose.hbm.xml"/>
        <mapping resource="org.medipi.concentrator.medication/schedule.hbm.xml"/>
        <mapping resource="org.medipi.concentrator.medication/scheduleAdherence.hbm.xml"/>
        <mapping resource="org.medipi.concentrator.medication/patientAdherence.hbm.xml"/>
        <mapping resource="org.medipi.concentrator.medication/recordedDose.hbm.xml"/>
    </session-factory>
</hibernate-configuration>