{% extends 'medication/patient_template.djt.html' %}

{% block main-pane %}
<div class="title">
    <h3>Assign New Medication: {{ active_patient.name }}</h3>
</div>
    <div class="container" id="assign-medication-search">
    <input title="search-medications" placeholder="Search medications" id="medication-search-field" oninput="search_medications(this)">
    <div id="medication-search-results" class="list-group"></div>
    </div>

    <div id="medication-info-bar">
    <div id="alert-space">
          <div id="no-med-selected-info" class="alert alert-info">
  <strong>Info!</strong> First select a medication from the browser
</div>
        </div>
    <div id="medication-info-section"class="clinical-table">

</div>
     <a class="button btn btn-lg btn-primary disabled" id="continue-button" onclick="continue_pressed()">Continue</a>
    </div>
    <script>
    // Search medications:
    var medications = [];
    var medication_search_results = document.getElementById("medication-search-results");
        var medicaton_info_section = document.getElementById("medication-info-section");
        var active_patient_medication_ids = {{ active_patient_medication_ids }};
var continue_button = document.getElementById("continue-button");
    var alert_space = document.getElementById("alert-space");
    console.log(medication_search_results);
    {% for medication in medications %}
    medications.push({full_name:"{{medication.full_name|safe}}", id:{{medication.id|safe}}});
    {% endfor %}
    function search_medications(medication_search_field) {
        var text = medication_search_field.value;
                console.log( medication_search_results);
        medication_search_results.innerHTML = "";
        if (text.length === 0) {
            return
        }
        var match = false;
        for (var i = 0; i < medications.length; i += 1) {
            if (medications[i].full_name.toLowerCase().includes(text.toLowerCase())) {
                var result = document.createElement("a");
                result.setAttribute("onclick", "select_medication(this)");
                result.setAttribute("med_id", medications[i].id);
                result.innerHTML = medications[i].full_name;
                result.setAttribute("class", "list-group-item");
                medication_search_results.appendChild(result);
                match = true;
            }
        }
        if (!match) {
              medication_search_results.insertAdjacentHTML('beforeend',"No Results");

        }
    }
    // Medication selection
    function select_medication(element) {
        var medication_id = Number(element.getAttribute("med_id"));
        console.log(active_patient_medication_ids);
        console.log(medication_id);
        console.log(active_patient_medication_ids.indexOf(medication_id));
        if(active_patient_medication_ids.indexOf(medication_id) !== -1) {
            alert_space.innerHTML = "";
            error_message = document.createElement("div");
            error_message.setAttribute("class", "alert alert-danger");
            error_message.innerHTML = "<strong>Error!</strong> This medication has already been assigned to the patient";
            alert_space.appendChild(error_message);
            hide_medication_details();
            return;
        }
        var promise = $.post({
            url:"{{ siteurl }}/patients/api/get_medication_information",
            data: {
                id: medication_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'},
            timeout: 1000});
        promise.done(function (data) {
            selected_medication = JSON.parse(data);
            alert_space.innerHTML = "";
            show_medication_details(selected_medication);
        });
        promise.fail(function(error) {alert_space.innerHTML = "";
                    alert_space.innerHTML = "";
                    error_message = document.createElement("div");
                    error_message.setAttribute("class", "alert alert-danger");
                    error_message.innerHTML = "<strong>Error!</strong> There was an error downloading medication data";
                    alert_space.appendChild(error_message);
                    hide_medication_details();}
                    );


    }
    function show_medication_details(medication) {
        hide_medication_details();
        medicaton_info_section.innerHTML +="<p>Medication Name:<br/><span class=\"clinical-value\">" + medication.short_name + "</span></p>";
        medicaton_info_section.innerHTML +="<p>Full Name:<br/><span class=\"clinical-value\">" + medication.full_name + "</span></p>";
        medicaton_info_section.innerHTML +="<p>Dose Unit:<br/><span class=\"clinical-value\">" + medication.dose_unit + "</span></p>";
        medicaton_info_section.innerHTML +="<p>ID:<br/><span class=\"clinical-value\">" + medication.id + "</span></p>";
        continue_button.setAttribute("href", "{{ siteurl }}/patients/addschedule?patient_uuid={{ active_patient.uuid }}&mid=" + medication.id);
        continue_button.classList.remove("disabled");
    }
    function hide_medication_details() {
        medicaton_info_section.innerHTML = "";
                continue_button.classList.add("disabled");

    }
    </script>
{% endblock %}