{% extends 'medication/patient_template.djt.html' %}
{% load display_utils %}

{% block main-pane %}
    <div class="title">
        <h3>All Patients</h3>
    </div>
    {% for patient in patients %}
        <a href="{{ site_url }}/patients/viewpatient?patient_uuid={{ patient.uuid }}">
            <div class="patient-summary-box">
                <p class="patient-summary-widebox">{{ patient|patient_display_name }}</p>
                <p class="patient-summary-widebox">{{ patient.dob }}</p>
                <div class="patient-summary-largebox">
                    <span class="patient-summary-adherencerate">{{ patient.adherence.seven_day_fraction|as_percentage }}</span>
                    <br/>
                    <span class="patient-summary-adherencetext">Adherence</span>
                </div>
                <div class="patient-summary-smallbox">
                    Meds: {{ patient.schedules|length }}
                </div>
                <div class="patient-summary-smallbox">
                    Streak: {{ patient.adherence.streak_length }}
                </div>
                <p class="patient-summary-widebox">{{ patient.warnings|length }} Warnings</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}