{% extends 'home/main.djt.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/patient.css" %}">
{% endblock %}

{% block content %}

<div class="page-body">
<div class="sidebar">
    {% if active_patient == None %}
    <div>
    <p>Patients: 10</p>
        <p>Warnings: 3</p>
    </div>
    <div>
    <form id="patient-search">
    <input type="text" title="Search" placeholder="Search">
    </form>
        </div>
            {% else %}
        <div>
    <p>Patient: {{ active_patient.name }}</p>
        <p>DOB: {{ active_patient.dob }}</p>
        <p>NHS#: {{ active_patient.nhs_number }}</p>
    </div>
    <div>
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        <li class="active"><a href="#">Medications</a></li>
        <li><a href="#">Schedule & History</a></li>
        <li><a href="#">Add Medication</a></li>
      </ul>
    </div>
    {%  endif %}
</div>
    <div class="main-pane">
        {% block main-pane %}{% endblock %}
    </div>
</div>
{% endblock %}