.sidebar {
    background-color: #D6EBF5 !important;
    float: left;
    width: 250px;
    height: 100%;
}

.page-body {
    width: 100%;
    border-radius: 10px;
}

.main-pane {
    background-color: white;
        float: left;
    width: calc(100% - 250px);
    height: 1000px;
    padding: 10px;
}

.title {
    margin-bottom: 10px;

    margin-top: 0px;
    width: 100%;
    align-content: center;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;

}

.title h3 {
     border-bottom-style: solid;
    border-bottom-color: #5e5e5e;
    border-bottom-width: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-bottom: 10px;
}

#patient-search {
   margin : 0 auto;
    display:block;
}
.sidebar {padding: 2.5px 0px}

.sidebar div {
    padding: 5px 0px;
}

.sidebar input{
             display: block;
             margin : 5px auto;
        }

.clinical-table {
             display: block;
             margin : 2.5px 5px;
    font-family: "Droid Sans Mono", "monospace";

        }

.sidebar th {
    padding: 0px 2px;
}

.sidebar input {
    width: 80%;
}

.nav-pills {
    margin: 2.5px 0;
}

.sidebar #search-results {
    width: 100%;
}

.sidebar .search-result {
    text-align: left;
    margin-left: 10px;
}

.nav-pills a {
    background-color: #5F7E9F;
    color: white;
    font-size: 20px;
    margin: 0px 0px !important;
    border-radius: 0px !important;
    padding: 10px !important;
}

.nav-pills li:not(.active) a:hover {
    background-color: #A1D3EB !important;
}

.nav-pills li:not(.active) {
    margin: 0px 0px !important;
}


.active a {
    background-color: white !important;
    color: black !important;
}

.main-pane table {
    width: 80% ;
}

.patient-summary-box {
    overflow: auto;
    width: 240px;
    margin: 10px;
    border-color: #2aabd2;
    border-width: 1px;
    border-style: solid;
    float:left
}

.patient-summary-widebox {
    width: 100%;
    border-color: #2aabd2;
    border-width: 1px;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    float: left;
    margin: 0px;
}

.patient-summary-largebox {
    width: 60%;
    border-color: #2aabd2;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding: 0px;
    height: 50px;
    float: left;
    vertical-align: middle;
    margin: 0px;
}


.patient-summary-largebox span {
    vertical-align: middle;
    margin: 0px;
}

.patient-summary-adherencerate {
    font-size: 25px;
    line-height: 25px;
}

.patient-summary-smallbox {
    width: 40%;
    border-color: #2aabd2;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding: 0px;
    height: 25px;
    float: left;
    vertical-align: middle;
    margin: 0px;
}

.clinical-value {
    background-color: white;
    color: black;
    padding-right: 5px;
    margin-left: 5px;
}

.sidebar .btn {
    margin: 2.5px 5px;
    width: 95%;
}

.sidebar .container {
    align-content: center;
    width: 100%;
}

#assign-medication-search {
    width: 60%;
    margin-left: 10px;
    align-content: center;
    height: 60%;
    overflow: scroll;
    border-radius: 10px;
    float: left;
}

#assign-medication-search #medication-search-field {
    margin: 10px;
    width: 80%;
}

#medication-info-bar {
    float: left;
    background-color: #D1EBF4;
    border-radius: 10px;
    width: 350px;
    padding: 10px;
}

#medication-info-section {

}

#continue-button {
    margin: 10px;
}